**/db2.*
**/target
*.swp
*/util.log
*/util.properties
*/util.script
chapter03/*
tmp002
obiado/.idea/
obiado/obiado.iml

**/*.beam
**/*.dump

rabbit-1.0/include/*

learnyou/release/rel

learnyou/processquest/rel
learnyou/processquest/relup
